target/
*.class
*.jar
*.war

.idea/
*.iml
.vscode/
.project
.classpath
.settings/

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.log
.DS_Store

# local maven copy
.tools/
